[alias]
	st = status
	co = checkout
[fetch]
	prune = true
[push]
	default = simple
[pull]
	ff = only
[color]
	ui = auto
[user]
	name = Matt Stobo
	email = mwstobo@gmail.com
[merge]
	ff = only
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig.local
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[github]
	user = mwstobo
[init]
	defaultBranch = main
