[alias]
	st = status
	co = checkout
[fetch]
	prune = true
[push]
	default = simple
[color]
	ui = auto
[user]
	name = Matt Stobo
	email = mwstobo@gmail.com
[merge]
	ff = only
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig.local
